<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  </head>
  <body>
    <div align=right>
      <a href='/home'>
        <input type="button" value="Home">

      </a>
    </div>
    <center>
    {% if message %}
      <p class="message"><strong>Message:</strong> {{ message }}
    {% endif %}
    </center>
    <form action="" method="POST">
      <input type="text" placeholder="Person" name="person" value="{{
        request.form.person }}">
        <br>
       <input type="text" placeholder="Flower" name="flower" value="{{
        request.form.flower }}">
        <br>
       <input type="text" placeholder="Location" name="location" value="{{
        request.form.location }}">
        <br>
       <input type="text" placeholder="Date sighted (yyyy-mm-dd)" name="sighted" value="{{
        request.form.sighted }}">
        <br>
      <input class="btn btn-default" type="submit" value="Insert sighting">
    </form>



  </body>
</html>
