<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  </head>
  <body>
    <center>
      <h1> Delete {{flower}} Sighting </h1><br>
      <a href='/home'>
        <input type="button" value="Home">
      </a>

    </center>
    <br>
    <center>

    {% if message %}
      <p class="message"><strong>Message:</strong> {{ message }}
    {% endif %}
    <form action="" method="POST">
      <input type="text" placeholder="Person" name="person" value="{{
        request.form.person }}">
        <br>
       <input type="text" placeholder="Location" name="location" value="{{
        request.form.location }}">
        <br>
       <input type="text" placeholder="Date sighted (yyyy-mm-dd)" name="sighted" value="{{
        request.form.sighted }}">
        <br>
      <input class="btn btn-default" type="submit" value="Delete Sighting">
    </form>
  </center>


  </body>
</html>
