<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  </head>
  <body bgcolor = "#FFE5DF">
    <div align=right>
      <a href='/login'>
        <input type="button" value="Sign Out">
      </a>
    </div>

    <center>
      <h1> GUI </h1>
    </center>


    <center>

      <a href='/insert'>
        <input type="button" value="Insert Sighting">
      </a>
      <a href='/update'>
        <input type="button" value="Update Flower">
      </a>
    </center>


    <center>
      <br>
      <h1> Select flower for information </h1>
      <table style="width:50%">
      {% for item in items %}
          <tr>
              <td>
                <center>
                  <form action="" method="POST">
                    <input type="text" value="{{item[0]}}" name="flowername" value="{{request.form.flowername}}">
                    <input class="btn btn-default" type="submit" value="Info">
                  </a>
                  </form>
              </center>
              </td>

      {% endfor %}
    </center>
  </body>
</html>
