<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  </head>
  <body bgcolor = "#FFE5DF">
    <div align=right>
      <a href='/login'>
        <input type="button" value="Sign Out">
      </a>
    </div>

    <center>
        <h1> Select Flower </h1>
      <br>
      <table style="width:50%">
      {% for item in items %}
          <tr>
              <td>
                <center>
                  <form action="" method="POST">
                      <!-- <h1><{{item[0]}}</h1> -->
                    <input type="text" name="flowername" value="{{item[0]}}">
                    <input class="btn btn-default" type="submit" name = "option" value="Info">

                    <input class="btn btn-default" type="submit" name = "option" value="Insert Sighting">

                    <input class="btn btn-default" type="submit" name = "option" value="Update Flower">

                  </form>
              </center>
              </td>

      {% endfor %}
    </center>
  </body>
</html>
